.navbar a {
  color: white;
  font-weight: bold;
  font-size: 25px;
  margin-left: 25px;
}
.navbar a:hover {
  text-decoration: underline;
  color: white;
  animation-delay: 1000ms;
}

body,
html {
  height: 100%;
  font-family: "Ubuntu" !important;
}
.Main {
  height: 100%;
  background-image: url("bg.jpg");
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.kotak label {
  color: white;
}
.Main:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.home {
  position: absolute;
  font-size: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  color: white;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.btn-default {
  color: #fff;
  background: #ff4c60;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
}
.tombolcv {
  background-color: grey;
}
.tombolcv:hover {
  background-color: #ff4c60;
}
.img {
  transition: 0.5s ease;
  backface-visibility: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-radius: 50px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}
.card-img-top {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.card-img-top:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 800px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 800px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    transform: translate3d(800px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    transform: translate3d(800px, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeInRight {
  from {
    transform: translate3d(0, 800px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInRight {
  from {
    transform: translate3d(0, 800px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.animatedFadeInLeft {
  opacity: 0;
}

.animatedFadeInRight {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

.fadeInLeft {
  opacity: 0;
  animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
}

.fadeInRight {
  opacity: 0;
  animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
}

.box {
  padding: 60px 0px;
}

.box-part {
  background: #fff;
  border-radius: 0;
  padding: 60px 10px;
  margin: 30px 0px;
}
.text {
  margin: 20px 0px;
}

.fa {
  color: #4183d7;
}

.card {
  border-radius: 50px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
}
.l-bg-cherry {
  background: linear-gradient(to right, #493240, #f09) !important;
  color: #fff;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
.l-bg-cherry:hover {
  background: linear-gradient(to right, #493240, #f09) !important;
  color: #fff;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.l-bg-blue-dark {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background: linear-gradient(to right, #373b44, #4286f4) !important;
  color: #fff;
}
.l-bg-blue-dark:hover {
  background: linear-gradient(to right, #373b44, #4286f4) !important;
  color: #fff;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.l-bg-green-dark {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background: linear-gradient(to right, #0a504a, #38ef7d) !important;
  color: #fff;
}
.l-bg-green-dark:hover {
  background: linear-gradient(to right, #0a504a, #38ef7d) !important;
  color: #fff;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}

.l-bg-orange-dark {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background: linear-gradient(to right, #a86008, #ffba56) !important;
  color: #fff;
}
.l-bg-orange-dark:hover {
  background: linear-gradient(to right, #a86008, #ffba56) !important;
  color: #fff;
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.card .card-statistic-3 .card-icon-large .fas,
.card .card-statistic-3 .card-icon-large .far,
.card .card-statistic-3 .card-icon-large .fab,
.card .card-statistic-3 .card-icon-large .fal {
  font-size: 110px;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

.l-bg-green {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
  color: #fff;
}

.l-bg-orange {
  background: linear-gradient(to right, #f9900e, #ffba56) !important;
  color: #fff;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}
